menu "ESP CherryUSB"
    visible if IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32S3

    # Invisible item, enabled when USB_OTG peripheral does exist
    config CHERRYUSB_SUPPORTED
        bool
        default y if IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32S3
        
    menuconfig CHERRYUSBD_ENABLED
        bool "Enable CherryUSB Device"
        default n
        help
            Enable CherryUSB Device support.

    if CHERRYUSBD_ENABLED
        menu "USB Device Config"
            config USBDEV_REQUEST_BUFFER_LEN
                int "Largest size (in bytes) of transfers to ep0 out"
                default 512
            config USBDEV_SETUP_LOG_PRINT
                bool "Print USB setup packet"
                default n
            config USBDEV_DESC_CHECK
                bool "Check USB descriptor"
                default n
            config USBDEV_TEST_MODE
                bool "USB test mode"
                default n
        endmenu

        menu "USB Device CDC Config"
        endmenu

        menu "USB Device HID Config"
        endmenu

        menu "USB Device MSC Config"
            config USBDEV_MSC_MAX_BUFSIZE
                int "Block size of MSC device"
                default 512
            config USBDEV_MSC_MANUFACTURER_STRING
                string "Manufacturer string"
                default "Espressif"
            config USBDEV_MSC_PRODUCT_STRING
                string "Product string"
                default "ESP-MSC"
            config USBDEV_MSC_VERSION_STRING
                string "Version string"
                default "0.01"
            config USBDEV_MSC_THREAD
                bool "Enable MSC thread"
                default y
            config USBDEV_MSC_PRIO
                int "Priority of the MSC thread"
                depends on USBDEV_MSC_THREAD
                default 4
            config USBDEV_MSC_STACKSIZE
                int "Stack size of the MSC thread"
                depends on USBDEV_MSC_THREAD
                default 3096
        endmenu

        menu "USB Device Audio Config"
        endmenu

        menu "USB Device Video Config"
        endmenu

        menu "USB Device DFU Config"
        endmenu

        menu "USB Device RNDIS Config"
            config USBDEV_RNDIS_RESP_BUFFER_SIZE
                int "RNDIS response buffer size"
                default 156
            config USBDEV_RNDIS_ETH_MAX_FRAME_SIZE
                int "Maximum frame size"
                default 1580
            config USBDEV_RNDIS_VENDOR_ID
                hex "Vendor ID"
                default 0x0000ffff
            config USBDEV_RNDIS_VENDOR_DESC
                string "Vendor description"
                default "Espressif"
            config USBDEV_RNDIS_USING_LWIP
                bool "Using LWIP"
                default y
        endmenu

    endif # CHERRYUSBD_ENABLED

    config CHERRYUSBH_ENABLED
        bool "Enable CherryUSB Host"
        default n
        help
            Enable CherryUSB Host support.

    config CHERRYUSBH_CDC_ENABLED
        bool "Enable CherryUSB Host CDC ACM"
        depends on CHERRYUSBH_ENABLED
        default n
        help
            Enable CherryUSB CDC ACM support.
    config CHERRYUSBH_HID_ENABLED
        bool "Enable CherryUSB Host HID"
        depends on CHERRYUSBH_ENABLED
        default n
        help
            Enable CherryUSB HID support.
    config CHERRYUSBH_MSC_ENABLED
        bool "Enable CherryUSB Host MSC"
        depends on CHERRYUSBH_ENABLED
        default n
        help
            Enable CherryUSB MSC support.
    config CHERRYUSBH_AUDIO_ENABLED
        bool "Enable CherryUSB Host Audio"
        depends on CHERRYUSBH_ENABLED
        default n
        help
            Enable CherryUSB Audio support.
    config CHERRYUSBH_VIDEO_ENABLED
        bool "Enable CherryUSB Host Video"
        depends on CHERRYUSBH_ENABLED
        default n
        help
            Enable CherryUSB Video support.
    config CHERRYUSBH_RNDIS_ENABLED
        bool "Enable CherryUSB Host RNDIS"
        depends on CHERRYUSBH_ENABLED
        default n
        help
            Enable CherryUSB RNDIS support.
    config CHERRYUSBH_PRINTER_ENABLED
        bool "Enable CherryUSB Host Printer"
        depends on CHERRYUSBH_ENABLED
        default n
        help
            Enable CherryUSB Printer support.
    config CHERRYUSBH_MTP_ENABLED
        bool "Enable CherryUSB Host MTP"
        depends on CHERRYUSBH_ENABLED
        default n
        help
            Enable CherryUSB MTP support.
    config CHERRYUSBH_PRINTER_ENABLED
        bool "Enable CherryUSB Host Printer"
        depends on CHERRYUSBH_ENABLED
        default n
        help
            Enable CherryUSB Printer support.

    menu "USB Host Config"
        visible if CHERRYUSBH_ENABLED
        config USBHOST_MAX_RHPORTS
            int "Maximum number of root hub ports"
            depends on CHERRYUSBH_ENABLED
            default 1
        config USBHOST_MAX_EXTHUBS
            int "Maximum number of external hubs"
            depends on CHERRYUSBH_ENABLED
            default 1
        config USBHOST_MAX_EHPORTS
            int "Maximum number of external hub ports"
            depends on CHERRYUSBH_ENABLED
            default 4
        config USBHOST_MAX_INTERFACES
            int "Maximum number of interfaces"
            depends on CHERRYUSBH_ENABLED
            default 8
        config USBHOST_MAX_INTF_ALTSETTINGS
            int "Maximum number of interface alternate settings"
            depends on CHERRYUSBH_ENABLED
            default 8
        config USBHOST_MAX_ENDPOINTS
            int "Maximum number of endpoints"
            depends on CHERRYUSBH_ENABLED
            default 4
        config USBHOST_MAX_CDC_ACM_CLASS
            int "Maximum number of CDC ACM class devices"
            depends on CHERRYUSBH_ENABLED
            default 4
        config USBHOST_MAX_HID_CLASS
            int "Maximum number of HID class devices"
            depends on CHERRYUSBH_ENABLED
            default 4
        config USBHOST_MAX_MSC_CLASS
            int "Maximum number of MSC class devices"
            depends on CHERRYUSBH_ENABLED
            default 2
        config USBHOST_MAX_AUDIO_CLASS
            int "Maximum number of Audio class devices"
            depends on CHERRYUSBH_ENABLED
            default 1
        config USBHOST_MAX_VIDEO_CLASS
            int "Maximum number of Video class devices"
            depends on CHERRYUSBH_ENABLED
            default 1
        config USBHOST_DEV_NAMELEN
            int "Maximum length of device name"
            depends on CHERRYUSBH_ENABLED
            default 16
        config USBHOST_PSC_PRIO
            int "Priority of the Host PSC task"
            depends on CHERRYUSBH_ENABLED
            range 0 23
            default 0
        config USBHOST_PSC_STACKSIZE
            int "Stack size of the Host PSC task"
            depends on CHERRYUSBH_ENABLED
            default 3096
        config USBHOST_GET_STRING_DESC
            bool "Get string descriptor"
            depends on CHERRYUSBH_ENABLED
            default n
        config USBHOST_MSOS_ENABLE
            bool "todo"
            depends on CHERRYUSBH_ENABLED
            default n
        config USBHOST_MSOS_VENDOR_CODE
            hex "todo"
            depends on USBHOST_MSOS_ENABLE
            range 0x00 0xff
            default 0x00
        config USBHOST_REQUEST_BUFFER_LEN
            int "Largest size (in bytes) of transfers from/to ep0"
            depends on CHERRYUSBH_ENABLED
            default 1024
        config USBHOST_CONTROL_TRANSFER_TIMEOUT
            int "Timeout for control transfers (in ms)"
            depends on CHERRYUSBH_ENABLED
            default 500
        config USBHOST_MSC_TIMEOUT
            int "Timeout for MSC (in ms)"
            depends on CHERRYUSBH_ENABLED
            default 5000
    endmenu

endmenu #ESP CherryUSB
